<!DOCTYPE html>
<html ng-app="options">
<head>
    <title>Remove Assets Options</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="css/options.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
</head>
<body>

<div class="container">
    <div class="main-container" ng-controller="optionsController">

        <h4>{{manifest.name}} v{{ manifest.version }} </h4>

        <div class="row search-items">
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon">Search URL List</div>
                    <input type="text" class="form-control" ng-model="search" id="SearchText" placeholder="Search URL">
                </div>
            </div>

            <div class="col-sm-2">
                <button ng-click="showForm = true" type="button" class="btn btn-primary btn-block" id="add">Add</button>
            </div>

            <div class="col-sm-1">
                <button ng-click="help()" class="btn btn-warning btn-block">Help</button>
            </div>
        </div>


        <div ng-class="{show: savedSuccessfully}" class="succcess-message invisible">
            <div class="alert alert-success" role="alert">Saved successfully</div>
        </div>

        <div ng-show="items.length == 0 && showForm == false">
            <h4>No urls added yet! Try it out and add your first url</h4>
        </div>

        <table ng-show="items.length > 0 || showForm" ng-cloak class="regex-list table table-hover">
            <tr class="info">
                <th>url to inject</th>
                <th>actions</th>
                <th>status</th>
            </tr>
            <!-- add item form-->
            <tr ng-show="showForm">
                <td>
                    <input class="input-sm form-control" ng-model="inject.url"
                           placeholder="Target URL" ng-model="item.url" value="item.url">
                </td>
                <td class="col-sm-2 actions">n/a</td>
                <td>
                    <button class="btn btn-sm btn-block btn-success disabled">On by default</button>
                </td>

            </tr>
            <tr ng-show="showForm">
                <td class="jscode" colspan="3">
                    <a target="_blank"
                       href="https://developer.chrome.com/extensions/storage#property-sync-QUOTA_BYTES_PER_ITEM">
                        Javascript code max 4,096 bytes
                    </a>
                    <textarea ng-model="inject.code" placeholder="Javascript code"
                              class="form-control" rows="8"></textarea>
                    <button ng-click="save(inject)" class="btn btn-info btn-xs">Save</button>
                    <button ng-click="showForm = false" class="btn btn-default btn-xs">Cancel</button>
                </td>
            </tr>
            <!--/add item form-->
            <tr ng-repeat-start="item in items | filter: {url: search}">
                <td class="col-sm-8">
                    <span ng-show="!edit[item.guid]">{{ item.url }}</span>
                    <span ng-show="edit[item.guid]">
                        <input class="form-control" placeholder="Target URL" ng-model="item.url" value="item.url">
                    </span>
                </td>
                <td class="col-sm-2 actions">
                    <span ng-click="edit[item.guid] = !edit[item.guid] " class="glyphicon glyphicon-pencil"></span>
                    <span ng-click="remove(item)" class="glyphicon glyphicon-trash"></span>
                </td>
                <td>
                    <button class="btn btn-xs btn-block"
                            ng-click="item.enabled = !item.enabled; save(item); "
                            ng-class="{'btn-success': item.enabled , 'btn-danger':!item.enabled}"
                            >
                        <span ng-show="item.enabled">On</span>
                        <span ng-show="!item.enabled">Off</span>
                    </button>
                </td>
            </tr>
            <tr ng-show="edit[item.guid]" ng-repeat-end>
                <td class="jscode" colspan="3">
                    <textarea ng-model="item.code" class="form-control" rows="8">{{ item.code }}</textarea>
                    <button ng-click=" save(item); edit[item.guid] = false" class="btn btn-info btn-xs">Save</button>
                    <button ng-click="edit[item.guid] = false" class="btn btn-default btn-xs">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-switch.min.js"></script>
<script src="js/app.angular.js"></script>
<script src="js/options.controller.js"></script>
<script src="js/help.controller.js"></script>
</body>
</html>