<!DOCTYPE html>
<html ng-app="options">
<head>
    <title>Remove Assets Options</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="css/options.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="main-container" ng-controller="optionsController">

        <h4>{{manifest.name}} v{{ manifest.version }} </h4>

        <form class="form-horizontal search" role="form">
            <div class="form-group">
                <label for="SearchText" class="col-sm-1 control-label">Search</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="search" id="SearchText" placeholder="Search URL">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary btn-block" id="add">Add</button>
                </div>

            </div>
        </form>

        <div class="add-wrapper">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="regEx" class="col-sm-2 control-label">Target URL</label>

                    <div class="col-sm-9">
                        <input type="text" ng-model="inject.url" class="form-control" id="regEx"
                               placeholder="Target URL">
                    </div>
                </div>
                <div class="form-group">
                    <label for="js-snippet" class="col-sm-2 control-label">Javascript</label>

                    <div class="col-sm-9">
                        <textarea rows="6" ng-model="inject.code" class="form-control" id="js-snippet"
                                  placeholder="Javascript code"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="button" ng-click="save()" class="btn btn-info btn-block" id="save">Save</button>
                    </div>
                </div>

                <div class="succcess-message form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <div class="alert alert-success" role="alert">Save successfully</div>
                    </div>
                </div>
            </form>
        </div>

        <table class="regex-list table table-hover">
            <tr class="info">
                <th>url to inject</th>
                <th>actions</th>
                <th>status</th>
            </tr>

            <tr>
                <td>https://stackoverflow.com/questions/105034/how-to-create-a-guid-uuid-in-javascript</td>
                <td class="actions">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                </td>
                <td>
                    <button class="btn btn-xs btn-success btn-block">On</button>
                </td>
            </tr>
            <tr>
                <td class="jscode" colspan="3">
                    <textarea class="form-control" rows="2"></textarea>

                    <button class="btn btn-info btn-xs">Save</button>
                    <button class="btn btn-default btn-xs">Cancel</button>
                </td>
            </tr>

        </table>
    </div>
</div>

<script src="js/angular.min.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-switch.min.js"></script>
<script src="js/app.angular.js"></script>
<script src="js/options.controller.js"></script>
</body>
</html>